.main {
    background-color: rgba(32, 96, 64);
    width: 100%;
    height: 100vh;
}

.student-form {
    background-color: rgba(179, 179, 179, 0.5);
    width: 100%;
    height: 30rem;
    border-radius: 8px;
}